<div class="typing-area">
    <table class="target-table">
        <tr>
            <td>
                @for (char of typingService.targetWord(); track $index) {
                <span
                    [class]="getCharClass($index)"
                    [class.underline]="$index === typingService.inputValue().length"
                    [textContent]="char"
                ></span>
                }
            </td>
        </tr>
    </table>

    <input
        #typingInput
        class="superimposed-input"
        [ngModel]="typingService.inputValue()"
        (keydown)="handleKeydown($event)"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
    >
</div>
<p hidden>{{ typingService.inputValue() }}</p>
